@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
  background-color: #ffffff;
  color: #525252; /* Matches the `text-zinc-500` in Tailwind */
  position: sticky;
  top: 0;
  width: 100%; /* Makes sure it spans the full width */
  padding: 0 0px; /* Matches `px-4` padding */
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1); /* Matches the shadow-sm */
  display: flex;
  align-items: center;
}

.navbar-icon-container {
  display: flex;
  align-items: center;
  height: 100%;
  background-color: transparent;
  justify-content: center;
}

.about-container {
  width: 90%;
  height: 80vh; /* Set the height to 90% of the viewport height */
  margin: 5vh auto; /* Center the container vertically and horizontally */
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: auto;
}

.about-text-container {
  width: 95%;
  margin: 5px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: auto;
}

.wrapper-container {
  margin: auto;
  align-items: center;
  min-width: 90vw;
}

/* Media query for smaller screens, such as mobile phones */
@media (max-width: 480px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
    width: 90%;
    min-width: auto;
    margin: 30px auto;
  }
}

svg {
  width: 256px;
  height: 256px;
}

.sidebar-icon-container {
  padding-top: 30px;
  background-color: transparent;
  justify-content: center;
}

.page-transition {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.page-transition-enter {
  opacity: 0;
}

.page-transition-enter-active {
  opacity: 1;
}

.page-transition-exit {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.page-transition-exit-active {
  opacity: 0;
  transform: translateY(20px);
}
