/* Nur für die Introduction-Seite, nicht global! */
.introduction-page p {
  font-size: 18px;
  text-align: justify;
  margin: 10px 100px;
}

@media (max-width: 1000px) {
  .introduction-page p {
    font-size: 14px;
    margin: 10px 10px;
  }
}